.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;

}

.botao {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
}

.imagem1, .imagem2 {
    display: flex;
    flex-direction: column;
    padding-right: 800px;
    padding-left: 100px;
    border-radius: 15px;
}
.img {
    border-radius: 15px;
    
}


.container {
    display: inline;
}